.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #f6f6f6;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  float: left;
  padding-bottom: 10px;
}

.App-intro {
  font-size: large;
}
.jumbotron { 
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    padding-bottom: 25px;
}

.container-fluid {
    padding: 40px
}
.bg-grey {
    background-color: #f6f6f6;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 40%;
    height: 60%;
    margin-bottom: 10px;
    border-radius: 50px;
}

.collapse{
  padding-top: 40px;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0; 
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

a {
  color: #000000;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  .SidePanel{
    padding-top: 30px;
    padding-right: 30px
  }
  .DishImage{
    float:left;
    height:375px;
    width: 500px;
  }
.SubHeader{
  font-weight: bold;
}
.ImageShape{
  height:400px;
  border-radius: 25px;
}
ul{
  list-style: none;
}
p{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.275em;
  text-align: justify;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

aside{
padding-bottom: 20px;
}